$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "./../../assets/fonts/icomoon" !default;

$icon-checkmark: "\e910";
$icon-phone: "\e942";
$icon-info: "\ea0c";
$icon-sign-in: "\e900";
$icon-close: "\e901";
$icon-lock: "\e902";
$icon-sign-out: "\e903";
$icon-plus-circle: "\e904";
$icon-facebook-with-circle: "\e905";
$icon-linkedin-with-circle: "\e906";
$icon-youtube-with-circle: "\e907";
$icon-chevron-right: "\e908";
$icon-chevron-down: "\e909";
$icon-chevron-up: "\e90a";
$icon-user: "\e90b";
$icon-play_circle_filled: "\e90c";
$icon-flag: "\e90d";
$icon-edit: "\e90e";
$icon-banknote: "\e90f";
$icon-check1: "\e90f";
$icon-bill: "\e90f";
$icon-money: "\e90f";
$icon-cash: "\e90f";

