.table-container {
  padding-bottom: 12px;
  margin-left: 16px;
  overflow-x: auto;

  .table {
    display: table;
    text-align: center;
    font-size: $small;
    font-weight: 700;
    border: 1px solid $black;

    &__row {
      display: table-row;

      &--header {
        background-color: rgba(0, 0, 0, .2);
      }

      &:nth-child(n+2) {
        .table__item--title {
          background-color: rgba(0, 0, 0, .07);
        }
      }
    }

    &__item {
      display: table-cell;
      vertical-align: middle;
      padding: 12px 17px;
      font-size: $small;
      border: 1px solid $black;

      span, .icon {
        display: inline;
        font-size: $small;
      }

      &--value {
        white-space: nowrap;
      }
    }
  }

  &::-webkit-scrollbar {
    height: 9px;
    width: 100%;
  }

  &::-webkit-scrollbar-track {
    border: 1px solid $black;
  }

  &::-webkit-scrollbar-thumb {
    background: $black;
  }
}
