.password-reset {
  justify-content: center;
  .content {
    &__title {
      width: 393px;
      text-align: center;
      font-size: 6.4rem;
    }

    &__text {
      margin: 32px 0;
      font-size: $regular;
      font-weight: 700;
    }
  }

  .btn__action {
    padding: 10px 0;
    margin-top: 32px;
    width: 100%;
    font-size: $regular;
    font-weight: 700;
  }
}
