* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "din-pro", sans-serif;
  font-size: $nominal;
  font-weight: 400;
  background-color: $white;
}

button {
  font-family: "din-pro", sans-serif;
}

p,
a,
span {
  font-size: $regular;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;

  &.flex-end {
    justify-content: flex-end;
  }

  &.align {
    &__center {
      align-items: center;
    }
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  position: relative;
}

.main {
  max-height: calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 3px;
    border: 2px solid $black;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: $black;
  }
}

.content {
  @include flex(center, flex-start, column, nowrap);
  padding: 48px 0;
  width: 60vw;
}

input,
select {
  font-size: $regular;
  border: 2px solid $black;

  &.invalid {
    border-color: $red;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    color: $black;
  }
}

.error {
  display: none;
  position: absolute;
  right: 15px;
  top: -10px;
  padding: 0 5px;
  color: $red;
  background-color: $white;

  &.agreement {
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0 !important;
  }
}

.bg-gray {
  background-color: $medium-gray;

  &:first-child {
    padding-top: 5px;
  }

  &:last-child {
    padding-bottom: 5px;
  }
}
