/* FONT SIZES */

$nominal: 10px;
$big: 6.4rem;
$regular: 1.6rem;
$medium: 2.4rem;
$small-medium:1.8rem;
$small: 1.2rem;

/* COLORS */

$black: #000;
$white: #fff;
$yellow: #FFCE00;
$red: #D91433;
$silver: #979797;
$gray: #525252;
$light-gray: #E9E9E9;
$medium-gray: #E5E5E5;
$strong-white:#F5F5F5;
$super-white: #F7F7F7;